@use "./app-src/css/" as *;

// COMPOSANTS
body {
  display: flow-root;
  min-height: 100vh;
  background-color: hsl(var(--clr-blanc));

  header {
    padding: 1rem 2rem;
    background-color: white;
    box-shadow: 0 0.2rem 0.2rem hsl(var(--clr-gris));
  }

  section {
    margin: 2rem auto;
    padding: 1rem 0.2rem;
    max-width: 70rem;
    background-color: white;
  }

  footer {
    color: white;
    background-color: hsl(var(--clr-noir));
    & > * {
      margin-left: auto;
    }
  }
}

#nav-site {
  position: sticky;
  top: 0;
  padding: 0.2rem;
  background-color: hsl(var(--clr-gris));
  ul {
    flex-wrap: wrap;
  }
}
#copyright {
  padding-right: 2rem;
  color: white;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;

  &.colonne {
    flex-direction: column;
  }
}
.grid {
  display: grid;
  gap: 0.4rem;
}
.loader {
  margin: 1rem auto;
  max-width: 20rem;
  height: 5rem;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 20%;
    left: 40%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: repeating-conic-gradient(
      hsl(var(--clr-blanc)),
      hsl(var(--clr-noir)) 270deg
    );
    animation: roue 2s linear infinite;
  }
  &::after {
    content: "";
    position: absolute;
    width: 16%;
    left: 42%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: hsl(var(--clr-blanc));
  }
}

.lien,
button {
  cursor: pointer;
  padding-inline: 0.8rem;
  color: white;
  background-color: hsl(var(--clr-sombre));
  text-shadow: 1px 1px black;
  &:hover {
    color: black;
    text-shadow: 1px 1px white;
    background-color: hsl(var(--clr-blanc));
  }
}
button {
  box-shadow: 0.2rem 0.2rem 0.2rem black;
  &:active {
    box-shadow: inset 0.2rem 0.2rem 0.2rem black;
  }
}
