#nav-site {
  position: sticky;
  top: 0;
  padding: 0.2rem;
  background-color: hsl(var(--clr-gris), 0.5);
}

#devinette {
  #dev-form {
    margin: 1rem auto;
    padding: 1rem 0.4rem;
    max-width: 30rem;
    box-shadow: 0.2rem 0.2rem 0.2rem black;
    flex-wrap: wrap;

    #dev-info,
    #dev-choix {
      width: 100%;
      text-align: center;
    }

    button {
      margin-left: auto;
    }
  }
}

#shifumi {
  #shi-art {
    margin: auto;
    max-width: 30rem;
    grid-template-rows: repeat(5, 4rem);
    & > * {
      box-shadow: 0.2rem 0.2rem 0.2rem black;
    }
  }

  p {
    &:empty {
      display: none;
    }
  }
}
