#devinette {
  #dev-jeu {
    margin: 1rem auto;
    padding: 1rem 0.4rem;
    max-width: 50rem;
    box-shadow: 0.2rem 0.2rem 0.2rem black;
    flex-wrap: wrap;

    #dev-info,
    #dev-choix {
      width: 100%;
      text-align: center;
    }

    button {
      margin-left: auto;
    }
  }
}

#shifumi {
  #shi-jeu {
    margin: auto;
    max-width: 50rem;
    grid-template-rows: repeat(5, 4rem);
    & > * {
      box-shadow: 0.2rem 0.2rem 0.2rem black;
    }
    @media (min-width: 40rem) {
      grid-template: repeat(5, 4rem) / repeat(5, 1fr);
    }

    #shi-bot {
      @media (min-width: 40rem) {
        grid-area: 1/1/4/2;
      }
    }
    #shi-info {
      @media (min-width: 40rem) {
        grid-area: 1/2/4/4;
      }
    }
    #shi-joueur {
      @media (min-width: 40rem) {
        grid-area: 1/4/4/5;
      }
    }
    #shi-choix {
      @media (min-width: 40rem) {
        grid-area: 4/1/6/5;
      }
    }
    #shi-score {
      @media (min-width: 40rem) {
        grid-area: 1/5/6/6;
      }
    }
  }

  p {
    &:empty {
      display: none;
    }
  }

  .emot,
  .choix {
    font-size: 1.6rem;
  }
  .choix {
    cursor: pointer;
    padding: 0.6rem;
    background: radial-gradient(hsl(var(--clr-noir)), hsl(var(--clr-blanc)));
    &:hover {
      box-shadow: 0 0 0 1px black;
    }
  }
}

#morpion {
  #morp-jeu {
    margin: auto;
    max-width: 50rem;
    @media (min-width: 40rem) {
      grid-template-columns: 70% 30%;
    }

    #morp-grille {
      grid-template-columns: repeat(3, 1fr);
    }

    #morp-score {
      box-shadow: 0.2rem 0.2rem 0.2rem black;
    }

    .morp-case {
      cursor: pointer;
      font-size: 3rem;
      box-shadow: 0.2rem 0.2rem 0.2rem black;
      aspect-ratio: 1/1;
    }
  }
}
